body {
  margin: 0;
  padding: 0 20px;
  /* background-color: black; */
}

img.ebay {
  width: 30%;
  height: 145px;
}

div.logo-section {
  max-height: 145px;
}

nav.third-nav {
  display: flex;
  justify-content: space-around;
}

img.carosal {
  display: block;
  width: 100%;
  margin: auto;
  height: 500px;
  width: 1000px;
}

img.card-img-top {
  display: block;
  margin: auto;
  width: 200px;
  height: 200px;
}

div.courses {
  text-align: center;
}

div.footer {
    margin: 20px;
  display: flex;
  flex-direction: column;
}

div.info {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: initial;
  line-height: 2rem;
}

div.card {
  border: 3px solid #3e155e;
}

div.price {
  display: flex;
  justify-content: space-between;
}

p.price {
  padding: 10px;
  border: 2px solid #3e155e;
  border-radius: 10px;
  background-color: yellow;
}

a.direct,a.remove {
  display: flex;
  align-items: center;
}
